<!-- Rooms Section Begin -->
<section class="rooms-section py-5">
    <div class="container">
        <div class="row">
            <!-- Room Item -->
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="room/room-1.jpg" alt="Room Image">
                    <div class="ri-text">
                        <h2>Administracion de Habitaciones</h2>
                        <div class="nuevo-cliente">
                            <form >
                              <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input type="email" class="form-control" formControlName="nombre" />
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Apellidos</label>
                                <input type="text" class="form-control" formControlName="apellidos" />
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Direccion</label>
                                <input type="text" class="form-control" formControlName="direccion" />
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" formControlName="email" />
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Edad</label>
                                <input type="number" class="form-control" formControlName="edad" />
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Fecha de nacimiento</label>
                                <input
                                  type="date"
                                  class="form-control"
                                  formControlName="fecha_nacimiento"
                                />
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Cuota</label>
                                <input type="number" class="form-control" formControlName="cuota" />
                              </div>
                              <div class="mb-3">
                                <label class="form-label">Sexo</label>
                                <select class="form-control" formControlName="sexo">
                                  <option value="M">Hombre</option>
                                  <option value="F">Mujer</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label class="form-label">DNI</label>
                                <input type="text" class="form-control" formControlName="dni" />
                              </div>
                          
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                          </div>                          
                        <div class="btn-res">
                            <a href="#" class="primary-btn">Reservar<i class="fi fi-br-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="room/room-1.jpg" alt="Room Image">
                    <div class="ri-text">
                        <h2>Habitación Premium</h2>
                        <h3>159€<span>/por noche</span></h3>
                        <div>
                            <p><strong>Tamaño:</strong> Mediana</p>
                            <p><strong>Camas:</strong> King Beds</p>
                            <p><strong>Vistas:</strong> Exterior</p>
                            <p><strong>Servicios:</strong></p>
                            <div class="room-features">
                                <div class="room-info">
                                    <i class="fi fi-bs-tv-music"></i>
                                    <span>Smart TV</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-bs-wifi"></i>
                                    <span>High Wi-Fi</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-sr-air-conditioner"></i>
                                    <span>Aire acondicionado</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-rs-square-p"></i>
                                    <span>Parking</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-br-swimmer"></i>
                                    <span>Piscina</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-res">
                            <a href="#" class="primary-btn">Reservar<i class="fi fi-br-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="room/room-1.jpg" alt="Room Image">
                    <div class="ri-text">
                        <h2>Habitación Premium</h2>
                        <h3>159€<span>/por noche</span></h3>
                        <div>
                            <p><strong>Tamaño:</strong> Mediana</p>
                            <p><strong>Camas:</strong> King Beds</p>
                            <p><strong>Vistas:</strong> Exterior</p>
                            <p><strong>Servicios:</strong></p>
                            <div class="room-features">
                                <div class="room-info">
                                    <i class="fi fi-bs-tv-music"></i>
                                    <span>Smart TV</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-bs-wifi"></i>
                                    <span>High Wi-Fi</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-sr-air-conditioner"></i>
                                    <span>Aire acondicionado</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-rs-square-p"></i>
                                    <span>Parking</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-br-swimmer"></i>
                                    <span>Piscina</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-res">
                            <a href="#" class="primary-btn">Reservar<i class="fi fi-br-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="room/room-1.jpg" alt="Room Image">
                    <div class="ri-text">
                        <h2>Habitación Premium</h2>
                        <h3>159€<span>/por noche</span></h3>
                        <div>
                            <p><strong>Tamaño:</strong> Mediana</p>
                            <p><strong>Camas:</strong> King Beds</p>
                            <p><strong>Vistas:</strong> Exterior</p>
                            <p><strong>Servicios:</strong></p>
                            <div class="room-features">
                                <div class="room-info">
                                    <i class="fi fi-bs-tv-music"></i>
                                    <span>Smart TV</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-bs-wifi"></i>
                                    <span>High Wi-Fi</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-sr-air-conditioner"></i>
                                    <span>Aire acondicionado</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-rs-square-p"></i>
                                    <span>Parking</span>
                                </div>
                                <div class="room-info">
                                    <i class="fi fi-br-swimmer"></i>
                                    <span>Piscina</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-res">
                            <a href="#" class="primary-btn">Reservar<i class="fi fi-br-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-12">
                <div class="room-pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
    </div>
</section>
            <!-- Room Item End -->
