<div class="logo">
    <figure [routerLink]="['']">
        <img src="/images/LOGO_EIRA_AI.png" alt="">
    </figure>
</div>
<div>
    <nav class="navbar">
        <ul class="nav-home">
            <li><a [routerLink]="['/quienessomos']">Quiénes Somos</a></li>
            <li><a [routerLink]="['/habitaciones']">Nuestras habitaciones</a></li>
            <li><a [routerLink]="['/reservas']">Reservas</a></li>
            <li><a [routerLink]="['/spa']">Spa</a></li>
            @if (usuariosService.isAdmin()) {<li><a [routerLink]="['/dashboard']">Dashboard</a></li>}
        </ul>
        @if(usuariosService.islogged())
        { <ul class="login">
            <li><a [routerLink]="['/registro']">Registro</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
        </ul>}
    </nav>
</div>