<div class="container mt-5">
    <h2 class="text-center mb-4">Un paso más cerca del paraíso</h2>
    <form [formGroup]="formulario" (ngSubmit)="crearReserva()">
        <div>
            <label for="fecha_entrada">Fecha de Entrada:</label>
            <input type="date" id="fecha_entrada" name="fecha_entrada" formControlName="fecha_entrada">
        </div>
        <div>
            <label for="fecha_salida">Fecha de Salida:</label>
            <input type="date" id="fecha_salida" name="fecha_salida" formControlName="fecha_salida">
        </div>

        <div>
            <label for="num_personas">Número de Personas:</label>
            <input type="number" id="num_personas" name="num_personas" formControlName="num_personas">
        </div>
        <div>
            <label for="regimen">Régimen:</label>
            <input type="text" id="regimen" name="regimen" formControlName="regimen">
        </div>
        <div>
            <label for="tipo_cancelacion">Tipo de Cancelación:</label>
            <input type="text" id="tipo_cancelacion" name="tipo_cancelacion" formControlName="tipo_cancelacion">
        </div>
        <div>
            <label for="metodo_pago">Método de Pago:</label>
            <input type="text" id="metodo_pago" name="metodo_pago" formControlName="metodo_pago">
        </div>
        <div>
            <label for="aparcamiento">Aparcamiento:</label>
            <input type="checkbox" id="aparcamiento" name="aparcamiento" formControlName="aparcamiento">
        </div>
        <div>
            <label for="desayuno">Desayuno:</label>
            <input type="checkbox" id="desayuno" name="desayuno" formControlName="desayuno">
        </div>
        <div>
            <label for="spa">Spa:</label>
            <input type="checkbox" id="spa" name="spa" formControlName="spa">
        </div>
        <div>
            <label for="gimnasio">Gimnasio:</label>
            <input type="checkbox" id="gimnasio" name="gimnasio" formControlName="gimnasio">
        </div>
        <div>
            <label for="piscina">Piscina:</label>
            <input type="checkbox" id="piscina" name="piscina" formControlName="piscina">
        </div>

        <button type="submit">Crear Reserva</button>
    </form>
</div>