<div class="background">
    <h4 class="text-center">Tu lugar perfecto para desconectar</h4>
    <div class="container mt-5">
        <form class="formulario">

            <div class="mb-3">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico" />
            </div>

            <div class="mb-3">
                <label for="login-password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="login-password" name="password"
                    placeholder="Ingresa tu contraseña" />
            </div>

            <input type="submit" value="INICIAR SESIÓN" class="input-con-icono">


        </form>
    </div>
</div>