<!-- Title Section Begin -->
<section class="titulo">
  <h5>LISTA DE HABITACIONES</h5>
  <h1>
    <p>Experiencias únicas</p>
    <p>de lujo y bienestar</p>
  </h1>
  <p>Explora nuestras habitaciones y elige tu próxima escapada</p>
  <div class="icono">
    <figure><img src="/images/icono.png" alt="icono" /></figure>
  </div>
</section>
<!-- Title Section End -->

<!-- Rooms Section Begin -->

<section class="rooms-section">
  <div class="contenedor">
    <div class="cardHabitacion">
      <!-- Room Item -->
      @for (habitacion of arrHabitaciones; track habitacion.id) {
      <div class="">
        <div class="room-item">
          <img src="room/room-1.jpg" alt="Room Image" />
          <div class="ri-text">
            <h2>Habitación {{ habitacion.categoria }}</h2>
            <h3>{{ habitacion.precio }}€<span> / por noche</span></h3>
            <div>
              <p><strong>Tamaño:</strong> {{ habitacion.tamanho }}</p>
              <p><strong>Camas:</strong>{{ habitacion.num_camas }}</p>
              <p><strong>Vistas:</strong>{{ habitacion.vista }}</p>
              <p><strong>Cocina:</strong>{{ habitacion.cocina }}</p>
              <p><strong>Servicios:</strong></p>
              <div class="room-features">
                <div class="room-info">
                  <i class="fi fi-rr-screen"></i>
                  <span>Smart TV</span>
                </div>
                <div class="room-info">
                  <i class="fi fi-bs-wifi"></i>
                  <span>High Wi-Fi</span>
                </div>
                <div class="room-info">
                  <i class="fi fi-rs-air-conditioner"></i>
                  <span>Aire acondicionado</span>
                </div>
                <div class="room-info">
                  <i class="fi fi-br-square-p"></i>
                  <span>Parking</span>
                </div>
                <div class="room-info">
                  <i class="fi fi-br-swimmer"></i>
                  <span>Piscina</span>
                </div>
              </div>
            </div>
            <div class="btn-res">
              <a class="primary-btn" [routerLink]="['/registro']"
                >Reservar <i class="fi fi-rs-arrow-small-right"></i
              ></a>
            </div>
            @if(habitacionesService){
            <div class="btn-res d-flex gap-3">
              <button
                class="btn btn-primary d-flex align-items-center gap-2"
                [routerLink]="['/crearHabitacion']"
              >
                Modificar <i class="fi fi-br-pen-field"></i>
              </button>
              <button
                type="submit"
                class="btn btn-secondary d-flex align-items-center gap-2"
              >
                Eliminar <i class="fi fi-rs-arrow-small-right"></i>
              </button>
            </div>
            }
          </div>
        </div>
      </div>
      }
      <!-- Room Item End -->
    </div>
  </div>
</section>

<!-- Rooms Section End -->
