img {
    display: block;
    width: 100%;
    height: auto;

}

.titulo {
    margin: 3.75rem auto 2.5rem auto;
    display: block;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;

    h5 {
        font-family: "Quicksand",
            sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #000;
        margin: 0;
        padding: 0;
        letter-spacing: 0.125rem;

    }

    h1 {
        margin: 20px 0 40px 0;

        p {
            font-family: "Nympha";
            letter-spacing: 0.0625rem;
            font-style: normal;
            font-size: 3rem;
            font-weight: 700;
            color: #000;
        }


    }

    p {
        font-family: "Quicksand", sans-serif;
        font-size: 1.2rem;

    }

    .icono {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-top: 3.125rem;

        figure {
            width: 60px;
            rotate: 90deg;
        }
    }
}


.cita {
    width: 100%;
    padding: 3.75rem 25rem;
    text-align: center;

    p {
        font-family: "Nympha";
        letter-spacing: 0.0625rem;
        font-style: normal;
        font-size: 2rem;
        font-weight: 700;
        color: #000;
    }
}



carousel-item {
    display: flex;
}

.row {
    figure {
        width: 33.3%;
    }
}

.section-about {
    h2 {
        letter-spacing: 0.0625rem;
        width: 45%;
        font-family: "Nympha";
        font-weight: 600;
        font-size: 2rem;
        margin-left: 2.5rem;
        margin-top: 2.5rem;

    }

    .about {
        display: flex;
        margin: 2.5rem 3.125rem;
        justify-content: space-between;


        .fotos {
            display: flex;
            gap: 1rem;
            width: 50%;

            &>figure:first-child {
                width: 50%;
            }

            &>figure:last-child {
                width: 40%;
            }
        }
    }

    .textoabout {
        width: 50%;
        font-family: "Quicksand", sans-serif;

        margin-left: 100px;
        justify-content: center;

        p {
            width: 50%;
            font-size: 1.2rem;
        }

        a {
            display: inline-flex;
            text-decoration: none;
            background-color: transparent;
            border: none;
            margin-top: 40px;
            width: 100%;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: auto;
            text-align: left;


            p {
                margin: 0px;
                width: 80px;

            }

            img {
                width: 60px;
            }
        }

        a:hover {
            transform: translateX(7px);
        }
    }

}

.habitaciones {
    margin-left: 2.5rem;
    font-family: "Quicksand", sans-serif;

    h2 {
        letter-spacing: 0.0625rem;
        width: 45%;
        font-family: "Nympha";
        font-weight: 600;
        font-size: 2rem;
        margin-top: 2.5rem;

    }

    .submenu-habitaciones {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        p {
            width: 50%;
            font-size: 1.2rem;
        }

        a {
            display: inline-flex;
            text-decoration: none;
            background-color: transparent;
            border: none;
            width: 100%;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            gap: 20px;
            text-align: left;


            p {
                margin: 0px;
                width: 120px;

            }

            img {
                width: 60px;
            }
        }

        a:hover {
            transform: translateX(7px);
        }

    }


}

.carrusel-habitaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.reserva {
    margin-top: 2rem;
    background-color: #2e5951;
    color: whitesmoke;
    padding: 5rem 3rem;
    text-align: center;

    h2 {
        letter-spacing: 0.0625rem;
        margin-bottom: 1rem;
        font-family: "Nympha";
        font-weight: 600;
        font-size: 2rem;


    }


    .form {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 1rem;

        .row {
            width: 100%;
            justify-content: center;
            text-align: center;

            .campo-form {
                display: grid;
                grid-template-columns: 1fr;
                width: 30%;
                margin-top: 60px;

                .form-label {
                    font-family: "quicksand", sans-serif;
                    margin-bottom: 10px;
                    text-align: left;
                }

                .form-control {
                    color: whitesmoke;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid whitesmoke;


                }

                input::placeholder {
                    color: whitesmoke;
                }

            }

        }
    }


}

.boton-reservar {
    display: flex;
    margin-top: 70px;

    a {
        display: inline-flex;
        text-decoration: none;
        background-color: transparent;
        border: none;
        width: 100%;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-align: left;


        p {
            margin: 0px;
            width: 80px;
            font-size: 1.2rem;

        }

        img {
            width: 60px;
        }
    }

    a:hover {
        transform: translateX(7px);
    }
}