<section class="titulo">

    <h5>UN SANTUARIO EN EL OCÉANO</h5>
    <h1>
        <p>Experiencias únicas</p>
        <p>de lujo y bienestar</p>
    </h1>
    <p>Explora nuestras habitaciones y elige tu próxima escapada</p>
    <div class="icono">
        <figure> <img src="/images/icono.png" alt="icono"> </figure>
    </div>
</section>

<section id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <figure>
                    <img src="/images/oasis.jpg" alt="...">
                </figure>
                <figure>
                    <img src="/images/piscina_natural.jpg" alt="...">
                </figure>
                <figure>
                    <img src="/images/teide.jpg" alt="...">
                </figure>
            </div>

        </div>
    </div>
    <div class="carousel-item ">
        <div class="row">
            <figure>
                <img src="/images/habitacion.jpg" alt="...">
            </figure>
            <figure>
                <img src="/images/gruta.jpg" alt="...">
            </figure>
            <figure>
                <img src="/images/chica_cafe.jpg" alt="...">
            </figure>
        </div>
    </div>
    <div class="carousel-item ">
        <div class="row">
            <figure>
                <img src="/images/ciudad.jpg" alt="...">
            </figure>
            <figure>
                <img src="/images/piscina2.jpg" alt="...">
            </figure>
            <figure>
                <img src="/images/piscina1.jpg" alt="...">
            </figure>
        </div>
    </div>
    <!-- Cortar el float -->
</section>
<div style="clear: both;"></div>
<section class="cita">
    <p>Eira es un refugio sereno en el corazón de Tenerife, donde el lujo minimalista se fusiona con la imponente
        belleza
        natural de la isla.</p>
</section>
<section class="section-about">
    <h2>Sumérgete En La Naturaleza, Donde Cada Rincón Te Invita a Desconectar, Relajarte y Sentirte Parte de Algo
        Mucho Más
        Grande.</h2>
    <div class="about">
        <div class="fotos">
            <figure>
                <img src="/images/natura1.jpg" alt="">
            </figure>
            <figure>
                <img src="/images/natura2.jpg" alt="">
            </figure>
        </div>
        <div class="textoabout">
            <p>En Eira, creemos en el poder de la simplicidad. Nuestro hotel está diseñado cuidadosamente para
                ofrecerte un refugio
                tranquilo, lejos del ajetreo y el bullicio de la vida diaria.</p>
            <a>
                <p>QUIENES SOMOS</p>
                <img src="/images/icono.png" alt="">
            </a>
        </div>
    </div>

</section>