<div class="reservas-container">
    <h2>Reservas</h2>
    <div class="filtro">
        <label for="fecha-entrada">Fecha de Entrada:</label>
        <input type="date" id="fecha-entrada" name="fecha-entrada">

        <label for="fecha-salida">Fecha de Salida:</label>
        <input type="date" id="fecha-salida" name="fecha-salida">

        <button type="button">Filtrar</button>

        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario">

        <button type="button">Filtrar</button>
    </div>

    <div class="reservas-cards">
        <div class="reserva-card">
            <h2>Nombre del Cliente</h2>
            <p><span>Número de Personas:</span> 2</p>
            <p><span>Número de Habitaciones:</span> 1</p>
            <p><span>Fecha de Entrada:</span> 2023-10-01</p>
            <p><span>Fecha de Salida:</span> 2023-10-05</p>
            <p><span>Precio:</span> $500</p>
            <p><span>Tipo de Cancelación:</span> Flexible</p>
            <p><span>Método de Pago:</span> Tarjeta de Crédito</p>
            <input value="Ver detalle" class="input-con-icono">
        </div>
        <div class="reserva-card">
            <h2>Nombre del Cliente</h2>
            <p><span>Número de Personas:</span> 2</p>
            <p><span>Número de Habitaciones:</span> 1</p>
            <p><span>Fecha de Entrada:</span> 2023-10-01</p>
            <p><span>Fecha de Salida:</span> 2023-10-05</p>
            <p><span>Precio:</span> $500</p>
            <p><span>Tipo de Cancelación:</span> Flexible</p>
            <p><span>Método de Pago:</span> Tarjeta de Crédito</p>
            <input value="Ver detalle" class="input-con-icono">
        </div>
        <div class="reserva-card">
            <h2>Nombre del Cliente</h2>
            <p><span>Número de Personas:</span> 2</p>
            <p><span>Número de Habitaciones:</span> 1</p>
            <p><span>Fecha de Entrada:</span> 2023-10-01</p>
            <p><span>Fecha de Salida:</span> 2023-10-05</p>
            <p><span>Precio:</span> $500</p>
            <p><span>Tipo de Cancelación:</span> Flexible</p>
            <p><span>Método de Pago:</span> Tarjeta de Crédito</p>
            <input value="Ver detalle" class="input-con-icono">
        </div>
        <div class="reserva-card">
            <h2>Nombre del Cliente</h2>
            <p><span>Número de Personas:</span> 2</p>
            <p><span>Número de Habitaciones:</span> 1</p>
            <p><span>Fecha de Entrada:</span> 2023-10-01</p>
            <p><span>Fecha de Salida:</span> 2023-10-05</p>
            <p><span>Precio:</span> $500</p>
            <p><span>Tipo de Cancelación:</span> Flexible</p>
            <p><span>Método de Pago:</span> Tarjeta de Crédito</p>
            <input value="Ver detalle" class="input-con-icono">
        </div>
        <div class="reserva-card">
            <h2>Nombre del Cliente</h2>
            <p><span>Número de Personas:</span> 2</p>
            <p><span>Número de Habitaciones:</span> 1</p>
            <p><span>Fecha de Entrada:</span> 2023-10-01</p>
            <p><span>Fecha de Salida:</span> 2023-10-05</p>
            <p><span>Precio:</span> $500</p>
            <p><span>Tipo de Cancelación:</span> Flexible</p>
            <p><span>Método de Pago:</span> Tarjeta de Crédito</p>
            <input value="Ver detalle" class="input-con-icono">
        </div>
        <div class="reserva-card">
            <h2>Nombre del Cliente</h2>
            <p><span>Número de Personas:</span> 2</p>
            <p><span>Número de Habitaciones:</span> 1</p>
            <p><span>Fecha de Entrada:</span> 2023-10-01</p>
            <p><span>Fecha de Salida:</span> 2023-10-05</p>
            <p><span>Precio:</span> $500</p>
            <p><span>Tipo de Cancelación:</span> Flexible</p>
            <p><span>Método de Pago:</span> Tarjeta de Crédito</p>
            <input value="Ver detalle" class="input-con-icono">
        </div>
        <div class="reserva-card">
            <h2>Nombre del Cliente</h2>
            <p><span>Número de Personas:</span> 2</p>
            <p><span>Número de Habitaciones:</span> 1</p>
            <p><span>Fecha de Entrada:</span> 2023-10-01</p>
            <p><span>Fecha de Salida:</span> 2023-10-05</p>
            <p><span>Precio:</span> $500</p>
            <p><span>Tipo de Cancelación:</span> Flexible</p>
            <p><span>Método de Pago:</span> Tarjeta de Crédito</p>
            <input value="Ver detalle" class="input-con-icono">
        </div>
    </div>
</div>