   <!-- Rooms Section Begin -->
   <section class="rooms-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="room/room-1.jpg" alt="">
                    <div class="ri-text">
                        <h2>Habitación Premium</h2>
                        <h3>159€<span>/por noche</span></h3>
                        <div>
                            <div>
                                <div>
                                    <p class="r-o">Tamaño:</p>
                                    <p>Mediana</p>
                                </div>
                                <div>
                                    <p class="r-o">Camas:</p>
                                    <p>King Beds</p>
                                </div>
                                <div>
                                    <p class="r-o">Vistas:</p>
                                    <p>Exterior</p>
                                </div>
                                <div>
                                    <p class="r-o">Servicios:</p>
                                    <div class="room-features">
                                        <div class="room-info">
                                            <i class="fi fi-bs-tv-music"></i>
                                            <span>Smart TV</span>
                                        </div>
                                        <div class="room-info">
                                            <i class="fi fi-bs-wifi"></i>
                                            <span>High Wi-fii</span>
                                        </div>
                                        <div class="room-info">
                                            <i class="fi fi-sr-air-conditioner"></i>
                                            <span>AC</span>
                                        </div>
                                        <div class="room-info">
                                            <i class="fi fi-rs-square-p"></i>
                                            <span>Parking</span>
                                        </div>
                                        <div class="room-info last">
                                            <i class="fi fi-br-swimmer"></i>
                                            <span>Pool</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-res">
                            <a href="#" class="primary-btn">Reservar<i class="fi fi-br-arrow-right"></i></a>
                        </div>
                    </div> 
                </div>
                
            </div>

            <div class="col-lg-12">
                <div class="room-pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Rooms Section End -->


